@font-face {
  font-family: 'Roboto';
  src: url('../styles/fonts/Roboto-Regular.eot');
  src: url('../styles/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../styles/fonts/Roboto-Regular.woff') format('woff'),
  url('../styles//fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  }
  /* .ant-table-wrapper .ant-table {
    background: none;
  } */
  .ant-table-tbody > tr.ant-table-row:hover > td,
  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background-color: #BDE0FE !important;
  }
  .ant-table-row {
    /* font-size: 0px; */
    height: 28px;
  }
  .ant-table-tbody > tr.ant-table-row {
    cursor: pointer;
  }
  .ant-table-tbody > tr > td {
    /* font-weight: 500; */
  }

  .ant-table-wrapper .ant-table.ant-table-small .ant-table-title {
    padding: 5px 5px
  }
.my_sidebar {
  background-color: #bdd124;
  }
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
